body { 
    background-image: url(../img/photo\ 1.jpg); 
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-color: lightblue;
}
.photo {
    width: calc(50% - 40px);
    height: calc((35vw - 40px) / 16 * 9);
    margin: 20px;
}
.photo1 {
    background-image: url(../Web_site/img/photo\ 1.jpg);
}

.contayner {
    position: relative;
    height: 100vh;
}
.text{
    position: absolute;
    bottom: 90px;
    right: 150px;
    
}